[submodule "alacritty-theme"]
	path = alacritty-theme
	url = https://github.com/eendroroy/alacritty-theme.git
[submodule "catppuccin"]
	path = catppuccin
	url = https://github.com/catppuccin/alacritty.git
